/*
    Document   : master.css
    Created on : 7 août 2012, 16:34:09
    Author     : mark prades
    Description:
        Purpose of the stylesheet follows.
*/

.page-header{
    margin-top:50px;
}
input{
    height:20px;
}